/*  THEME COLORS   */

:root {

--bg-color: #fff;
--box-bg-color: #fff;
--box-bg-color-2: #fff;
--main-text-color: #222;
--box-text-color: #000;
--alert-text-color: #222;
--title-color: #222;
--highlight-color: #000;
--fade-in-color: #111;
--fade-out-color: #666;
--hide-color: #fff;
--shadow-color: #ccc;
--border-color-1: #bbb;
--border-color-2: #bbb;
--border-color-3: #bbb;
--slide-number-color: #fff;
}

