/*  THEME COLORS   */

:root {

--bg-color: #fef5e7;
--box-bg-color: #fae5d3;
--box-bg-color-2: #fee4d6;
--main-text-color: #111;
--box-text-color: black;
--alert-text-color: red;
--title-color: #111;
--highlight-color: red;
--fade-in-color: #333;
--fade-out-color: #aaa;
--hide-color: #fef5e7;
--shadow-color: #999;
--border-color-1: #444;
--border-color-2: #b21;
--border-color-3: #77d;
--slide-number-color: #666;
}


